a{
    font-family: 'Sen', sans-serif;
    font-size: 30px;
    color: green;
}
a:hover{
    color: lime;
    text-decoration: none;
}
img{
    width: 300px;
    margin: 30px;
}
img:hover{
    width: 400px;
    margin: 0px;
}